.welcome_box{
    height: 45px;
    color: #121212;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    padding: 12px 0;
    text-align: center;
}
.navbar{
    height: 122px;
    padding: 12px 60px;
    a{
        color: #FFFFFFFF;
    }
}
.banner{
    width: 100%;
    height: 265px;
    background-image: url(/static/img/banner.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: top;
}
.banner_contant{
    text-align: center;
    color: #121212BF;
    font-family: sans-serif;
    margin-top: 10px;
}

.product-container-box{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 297px);
    gap: 20px;
}
.product-box{
    overflow: hidden;
    border-radius: 10px;
    width: 297px;
    height: 417px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.product-image{
    width: 100%;
    height: 297px;
    img{
        width: 90%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        
    }
}
.product-name{
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #121212BF;
}
.ratting-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;


}

@media screen and (max-width: 500px) {
    .navbar{
        height: fit-content;
        z-index: +1;
    }
    .banner{
        height: 100px;
    }
    .product-container-box {
        grid-template-columns: repeat(2, 170px);
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
    }
    .product-box {
        width: 170px;
        height: fit-content;
    }
    .product-image {
        height: 170px;
    }
    .product-image img {
        width: 100%;
        height: 100%;
    }
    .product-name {
        font-size: 15px;
    }
    .ratting-box {
        margin-top: 5px;
    }
}